@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap');

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.main {
    width: 100%;
    background-color: black;
    height: 800px;
    position: fixed;
}

.header {
    width: 100%;
    height: 100px;
}

.header h3 {
    color: white;
    font-size: small;
    text-align: center;
    letter-spacing: 3px;

    
}

.header h1 {
    color: white;
    font-size: 40px;
    text-align: center;
    letter-spacing: 3px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

}
.dish1 {
    width: 10%;
    height: 100px;
    background-color: pink;
    margin-left: 10%;
    margin-top: 6%;
    background-image: url('Ratatouille.jpg');
    background-repeat: no-repeat;
    background-size: 10vw 15vh;
    border-radius: 100%;
}
.dish2 {
    width: 10%;
    height: 100px;
    background-color: pink;
    margin-left: 10%;
    margin-top: 2%;
    background-image: url('frenchonionsoup.png');
    background-repeat: no-repeat;
    background-size: 10vw 15vh;
    border-radius: 100%;
}
.dish3 {
    width: 10%;
    height: 100px;
    background-color: pink;
    margin-left: 10%;
    margin-top: 2%;
    background-image: url('piperade.png');
    background-repeat: no-repeat;
    background-size: 10vw 15vh;
    border-radius: 100%;
    position: relative;
}
.dish4 {
    width: 10%;
    height: 100px;
    background-color: pink;
    margin-left: 55%;
    margin-top: -24%;
    background-image: url('tart.webp');
    background-repeat: no-repeat;
    background-size: 10vw 15vh;
    border-radius: 100%;
    position: absolute;
}
.dish5{
    width: 10%;
    height: 100px;
    background-color: pink;
    margin-left: 55%;
    margin-top: -16%;
    background-image: url('quiche1.jpeg');
    background-repeat: no-repeat;
    background-size: 10vw 15vh;
    border-radius: 100%;
    position: absolute;
}
.dish6{
    width: 10%;
    height: 100px;
    background-color: pink;
    margin-left: 55%;
    margin-top: -7%;
    background-image: url('boeuf.jpg');
    background-repeat: no-repeat;
    background-size: 10vw 15vh;
    border-radius: 100%;
    position: absolute;
}
.ratatouille{
    width: 25%;
    height: 70px;
    /* background-color: pink; */
    margin-left: 22%;
    margin-top: -25%;
}
.ratatouille h3{
    color: whitesmoke;
}
/* button{
    width: 10%;
    height: 30px;
    border: none;
    color: white;
    padding: 10px 32px;
    text-align: left;
    text-decoration: none;
    display: inline-block;
    font-size: 15px; 
    cursor: pointer;
    background-color: red;
    font-weight: bold;
    border: none;
    box-shadow: 2px 2px 4px rgb(237, 134, 134);
    border-radius: 4px;
    /* margin-top: %; */
    /* margin-left: 22%; */
/* } */
button:hover {
    background-color: #06a57d;
    color: white;
  } 
.soup{
    width: 25%;
    height: 70px;
    /* background-color: pink; */
    margin-left: 22%;
    margin-top: 2%;
}
.soup h3{
    color: white;
}
.piprade{
    width: 25%;
    height: 70px;
    /* background-color: pink; */
    margin-left: 22%;
  
}
.piprade h3{
    color: white;
}
.tart{
    width: 25%;
    height: 100px;
    background-color: pink;
    margin-left: 68%;
    margin-top: -24%;
}
.tart h3{
    color: white;
}
.tart price{
    width: 10%;
    height: 30px;
    background-color:blue;
}


.main-div{
    width: 100%;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.container{
    width: 40%;
    height: 250px;
    margin-top: 50px;
    display: flex;
}
.container .image-div{
    flex-basis: 35%;
}

.image-div img{
    width: 100%;
    height: 100%;
    background-size: cover;
    border-radius: 50%;
}

.container .description-div{
    flex-basis: 65%;
    padding: 0px 20px;
}

.description-div h3{
    font-size: 1.4rem;
    color: white;
    font-family: "Nunito Sans", sans-serif;
}

.description-div button{
    padding: 10px 100px;
    font-size: 1.2rem;
}